body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #f9f9f9;
	margin: 0;
}

header {
	background-color: #883558;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
}

section {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
	font-size: 24px;
	margin-top: 0;
}

p {
	line-height: 1.5;
}

footer {
	background-color: #222;
	color: #fff;
	padding: 10px;
	text-align: center;
}